<link rel="stylesheet" href="/css/show.css">

<h2><%= @memo[1] %></h2>
<%= @memo[2].gsub(/\r\n|\n|\r/,"<br>") %>
<br>
<div class="edit">
  <button onclick="location.href = '/memo/<%= @memo[0] %>/edit' ">変更</button>
  <form action="/memo/<%= @memo[0] %>" method="POST"></form>
</div>
<div class="delete">
  <form method="post" action="/memo/<%= @memo[0] %>">
    <button type="submit">削除</button>
    <input type="hidden" name="id" value="<%= @memo[0] %>">
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
